<form class="brutusin-form form-inline">
	<table class="object">
		<tbody>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_0">id:</label></td>
				<td class="prop-value"><input type="number" step="any"
					autocorrect="off" id="BrutusinForms#0_0" class=" form-control"></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_1">certificada:</label></td>
				<td class="prop-value"><select id="BrutusinForms#0_1"
					class="chosen-select form-control selectpicker bs-select-hidden"
					title="" data-live-search="true"><option></option>
						<option value="true">True</option>
						<option value="false">False</option></select>
				<div class="btn-group bootstrap-select chosen-select form-control">
						<button type="button" class="btn dropdown-toggle btn-default"
							data-toggle="dropdown" data-id="BrutusinForms#0_1" title="">
							<span class="filter-option pull-left"></span>&nbsp;<span
								class="caret"></span>
						</button>
						<div class="dropdown-menu open">
							<div class="bs-searchbox">
								<input type="text" class="form-control" autocomplete="off">
							</div>
							<ul class="dropdown-menu inner" role="menu">
								<li data-original-index="0" class="selected"><a
									tabindex="0" class="" style="" data-tokens="null"><span
										class="text"></span><span
										class="glyphicon glyphicon-ok check-mark"></span></a></li>
								<li data-original-index="1"><a tabindex="0" class=""
									style="" data-tokens="null"><span class="text">True</span><span
										class="glyphicon glyphicon-ok check-mark"></span></a></li>
								<li data-original-index="2"><a tabindex="0" class=""
									style="" data-tokens="null"><span class="text">False</span><span
										class="glyphicon glyphicon-ok check-mark"></span></a></li>
							</ul>
						</div>
					</div></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_2">identificacaoQuilombola:</label></td>
				<td class="prop-value"><input type="text" autocorrect="off"
					id="BrutusinForms#0_2" class=" form-control"></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_3">livro:</label></td>
				<td class="prop-value"><input type="text" autocorrect="off"
					id="BrutusinForms#0_3" class=" form-control"></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_4">folha:</label></td>
				<td class="prop-value"><input type="text" autocorrect="off"
					id="BrutusinForms#0_4" class=" form-control"></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_5">numeroCertificado:</label></td>
				<td class="prop-value"><input type="text" autocorrect="off"
					id="BrutusinForms#0_5" class=" form-control"></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_6">numeroPortariaCertificacao:</label></td>
				<td class="prop-value"><input type="text" autocorrect="off"
					id="BrutusinForms#0_6" class=" form-control"></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_7">dataPortariaCertificacao:</label></td>
				<td class="prop-value"><input type="number" step="any"
					autocorrect="off" id="BrutusinForms#0_7" class=" form-control"></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_8">dataDiarioOficialUniaoCertificacao:</label></td>
				<td class="prop-value"><input type="number" step="any"
					autocorrect="off" id="BrutusinForms#0_8" class=" form-control"></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_9">secaoDiarioOficialUniao:</label></td>
				<td class="prop-value"><input type="text" autocorrect="off"
					id="BrutusinForms#0_9" class=" form-control"></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_10">folhaDiarioOficialUniao:</label></td>
				<td class="prop-value"><input type="text" autocorrect="off"
					id="BrutusinForms#0_10" class=" form-control"></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_11">linkPublicacaoDiarioOficialUniao:</label></td>
				<td class="prop-value"><input type="text" autocorrect="off"
					id="BrutusinForms#0_11" class=" form-control"></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_12">longitudeWEcertificacao:</label></td>
				<td class="prop-value"><input type="text" autocorrect="off"
					id="BrutusinForms#0_12" class=" form-control"></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_13">latitudeSNcertificacao:</label></td>
				<td class="prop-value"><input type="text" autocorrect="off"
					id="BrutusinForms#0_13" class=" form-control"></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_14">processosReconhecimento:</label></td>
				<td class="prop-value"><select id="BrutusinForms#0_14"
					class="chosen-select form-control selectpicker bs-select-hidden"
					title="" data-live-search="true"><option></option>
						<option value="true">True</option>
						<option value="false">False</option></select>
				<div
						class="btn-group bootstrap-select chosen-select form-control dropup">
						<button type="button" class="btn dropdown-toggle btn-default"
							data-toggle="dropdown" data-id="BrutusinForms#0_14" title=""
							aria-expanded="false">
							<span class="filter-option pull-left"></span>&nbsp;<span
								class="caret"></span>
						</button>
						<div class="dropdown-menu open"
							style="max-height: 910.172px; overflow: hidden; min-height: 42px;">
							<div class="bs-searchbox">
								<input type="text" class="form-control" autocomplete="off">
							</div>
							<ul class="dropdown-menu inner" role="menu"
								style="max-height: 856.172px; overflow-y: auto; min-height: 0px;">
								<li data-original-index="0" class="selected active"><a
									tabindex="0" class="" style="" data-tokens="null"><span
										class="text"></span><span
										class="glyphicon glyphicon-ok check-mark"></span></a></li>
								<li data-original-index="1"><a tabindex="0" class=""
									style="" data-tokens="null"><span class="text">True</span><span
										class="glyphicon glyphicon-ok check-mark"></span></a></li>
								<li data-original-index="2"><a tabindex="0" class=""
									style="" data-tokens="null"><span class="text">False</span><span
										class="glyphicon glyphicon-ok check-mark"></span></a></li>
							</ul>
						</div>
					</div></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_15">edital:</label></td>
				<td class="prop-value"><select id="BrutusinForms#0_15"
					class="chosen-select form-control selectpicker bs-select-hidden"
					title="" data-live-search="true"><option></option>
						<option value="true">True</option>
						<option value="false">False</option></select>
				<div class="btn-group bootstrap-select chosen-select form-control">
						<button type="button" class="btn dropdown-toggle btn-default"
							data-toggle="dropdown" data-id="BrutusinForms#0_15" title=""
							aria-expanded="false">
							<span class="filter-option pull-left"></span>&nbsp;<span
								class="caret"></span>
						</button>
						<div class="dropdown-menu open"
							style="max-height: 440.828px; overflow: hidden; min-height: 42px;">
							<div class="bs-searchbox">
								<input type="text" class="form-control" autocomplete="off">
							</div>
							<ul class="dropdown-menu inner" role="menu"
								style="max-height: 386.828px; overflow-y: auto; min-height: 0px;">
								<li data-original-index="0" class="selected active"><a
									tabindex="0" class="" style="" data-tokens="null"><span
										class="text"></span><span
										class="glyphicon glyphicon-ok check-mark"></span></a></li>
								<li data-original-index="1"><a tabindex="0" class=""
									style="" data-tokens="null"><span class="text">True</span><span
										class="glyphicon glyphicon-ok check-mark"></span></a></li>
								<li data-original-index="2"><a tabindex="0" class=""
									style="" data-tokens="null"><span class="text">False</span><span
										class="glyphicon glyphicon-ok check-mark"></span></a></li>
							</ul>
						</div>
					</div></td>
			</tr>
			<tr>
				<td class="prop-name"><label>tipoConcessaoTitulo:</label></td>
				<td class="prop-value"><table class="object">
						<tbody>
							<tr>
								<td class="prop-name"><label for="BrutusinForms#0_16">id:</label></td>
								<td class="prop-value"><input type="number" step="any"
									autocorrect="off" id="BrutusinForms#0_16" class=" form-control"></td>
							</tr>
							<tr>
								<td class="prop-name"><label for="BrutusinForms#0_17">nome:</label></td>
								<td class="prop-value"><input type="text" autocorrect="off"
									id="BrutusinForms#0_17" class=" form-control"></td>
							</tr>
							<tr>
								<td class="prop-name"><label>quilombos:</label></td>
								<td class="prop-value"><div class="">
										<table class="array"></table>
										<button type="button" class="addItem btn btn-primary  btn-xs">Add
											item</button>
									</div></td>
							</tr>
						</tbody>
					</table></td>
			</tr>
			<tr>
				<td class="prop-name"><label>comunidades:</label></td>
				<td class="prop-value"><div class="">
						<table class="array"></table>
						<button type="button" class="addItem btn btn-primary  btn-xs">Add
							item</button>
					</div></td>
			</tr>
			<tr>
				<td class="prop-name"><label>territorioList:</label></td>
				<td class="prop-value"><div class="">
						<table class="array"></table>
						<button type="button" class="addItem btn btn-primary  btn-xs">Add
							item</button>
					</div></td>
			</tr>
			<tr>
				<td class="prop-name"><label>documentoList:</label></td>
				<td class="prop-value"><div class="">
						<table class="array">
							<tbody></tbody>
						</table>
						<button type="button" class="addItem btn btn-primary  btn-xs">Add
							item</button>
					</div></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_18">concessao:</label></td>
				<td class="prop-value"><select id="BrutusinForms#0_18"
					class="chosen-select form-control selectpicker bs-select-hidden"
					title="" data-live-search="true"><option></option>
						<option value="true">True</option>
						<option value="false">False</option></select>
				<div class="btn-group bootstrap-select chosen-select form-control">
						<button type="button" class="btn dropdown-toggle btn-default"
							data-toggle="dropdown" data-id="BrutusinForms#0_18" title="">
							<span class="filter-option pull-left"></span>&nbsp;<span
								class="caret"></span>
						</button>
						<div class="dropdown-menu open">
							<div class="bs-searchbox">
								<input type="text" class="form-control" autocomplete="off">
							</div>
							<ul class="dropdown-menu inner" role="menu">
								<li data-original-index="0" class="selected"><a
									tabindex="0" class="" style="" data-tokens="null"><span
										class="text"></span><span
										class="glyphicon glyphicon-ok check-mark"></span></a></li>
								<li data-original-index="1"><a tabindex="0" class=""
									style="" data-tokens="null"><span class="text">True</span><span
										class="glyphicon glyphicon-ok check-mark"></span></a></li>
								<li data-original-index="2"><a tabindex="0" class=""
									style="" data-tokens="null"><span class="text">False</span><span
										class="glyphicon glyphicon-ok check-mark"></span></a></li>
							</ul>
						</div>
					</div></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_19">ccdru:</label></td>
				<td class="prop-value"><input type="text" autocorrect="off"
					id="BrutusinForms#0_19" class=" form-control"></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_20">titulada:</label></td>
				<td class="prop-value"><select id="BrutusinForms#0_20"
					class="chosen-select form-control selectpicker bs-select-hidden"
					title="" data-live-search="true"><option></option>
						<option value="true">True</option>
						<option value="false">False</option></select>
				<div
						class="btn-group bootstrap-select chosen-select form-control dropup">
						<button type="button" class="btn dropdown-toggle btn-default"
							data-toggle="dropdown" data-id="BrutusinForms#0_20" title=""
							aria-expanded="false">
							<span class="filter-option pull-left"></span>&nbsp;<span
								class="caret"></span>
						</button>
						<div class="dropdown-menu open"
							style="max-height: 496.172px; overflow: hidden; min-height: 42px;">
							<div class="bs-searchbox">
								<input type="text" class="form-control" autocomplete="off">
							</div>
							<ul class="dropdown-menu inner" role="menu"
								style="max-height: 442.172px; overflow-y: auto; min-height: 0px;">
								<li data-original-index="0" class="selected active"><a
									tabindex="0" class="" style="" data-tokens="null"><span
										class="text"></span><span
										class="glyphicon glyphicon-ok check-mark"></span></a></li>
								<li data-original-index="1"><a tabindex="0" class=""
									style="" data-tokens="null"><span class="text">True</span><span
										class="glyphicon glyphicon-ok check-mark"></span></a></li>
								<li data-original-index="2"><a tabindex="0" class=""
									style="" data-tokens="null"><span class="text">False</span><span
										class="glyphicon glyphicon-ok check-mark"></span></a></li>
							</ul>
						</div>
					</div></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_21">areahaTerritorial:</label></td>
				<td class="prop-value"><input type="number" step="any"
					autocorrect="off" id="BrutusinForms#0_21" class=" form-control"></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_22">observacao:</label></td>
				<td class="prop-value"><input type="text" autocorrect="off"
					id="BrutusinForms#0_22" class=" form-control"></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_23">copiaTituloArquivoAutor:</label></td>
				<td class="prop-value"><select id="BrutusinForms#0_23"
					class="chosen-select form-control selectpicker bs-select-hidden"
					title="" data-live-search="true"><option></option>
						<option value="true">True</option>
						<option value="false">False</option></select>
				<div class="btn-group bootstrap-select chosen-select form-control">
						<button type="button" class="btn dropdown-toggle btn-default"
							data-toggle="dropdown" data-id="BrutusinForms#0_23" title=""
							aria-expanded="false">
							<span class="filter-option pull-left"></span>&nbsp;<span
								class="caret"></span>
						</button>
						<div class="dropdown-menu open"
							style="max-height: 336.828px; overflow: hidden; min-height: 42px;">
							<div class="bs-searchbox">
								<input type="text" class="form-control" autocomplete="off">
							</div>
							<ul class="dropdown-menu inner" role="menu"
								style="max-height: 282.828px; overflow-y: auto; min-height: 0px;">
								<li data-original-index="0" class="selected active"><a
									tabindex="0" class="" style="" data-tokens="null"><span
										class="text"></span><span
										class="glyphicon glyphicon-ok check-mark"></span></a></li>
								<li data-original-index="1"><a tabindex="0" class=""
									style="" data-tokens="null"><span class="text">True</span><span
										class="glyphicon glyphicon-ok check-mark"></span></a></li>
								<li data-original-index="2"><a tabindex="0" class=""
									style="" data-tokens="null"><span class="text">False</span><span
										class="glyphicon glyphicon-ok check-mark"></span></a></li>
							</ul>
						</div>
					</div></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_24">publicacaoTerraQuilombo:</label></td>
				<td class="prop-value"><select id="BrutusinForms#0_24"
					class="chosen-select form-control selectpicker bs-select-hidden"
					title="" data-live-search="true"><option></option>
						<option value="true">True</option>
						<option value="false">False</option></select>
				<div class="btn-group bootstrap-select chosen-select form-control">
						<button type="button" class="btn dropdown-toggle btn-default"
							data-toggle="dropdown" data-id="BrutusinForms#0_24" title=""
							aria-expanded="false">
							<span class="filter-option pull-left"></span>&nbsp;<span
								class="caret"></span>
						</button>
						<div class="dropdown-menu open"
							style="max-height: 294.828px; overflow: hidden; min-height: 42px;">
							<div class="bs-searchbox">
								<input type="text" class="form-control" autocomplete="off">
							</div>
							<ul class="dropdown-menu inner" role="menu"
								style="max-height: 240.828px; overflow-y: auto; min-height: 0px;">
								<li data-original-index="0" class="selected active"><a
									tabindex="0" class="" style="" data-tokens="null"><span
										class="text"></span><span
										class="glyphicon glyphicon-ok check-mark"></span></a></li>
								<li data-original-index="1"><a tabindex="0" class=""
									style="" data-tokens="null"><span class="text">True</span><span
										class="glyphicon glyphicon-ok check-mark"></span></a></li>
								<li data-original-index="2"><a tabindex="0" class=""
									style="" data-tokens="null"><span class="text">False</span><span
										class="glyphicon glyphicon-ok check-mark"></span></a></li>
							</ul>
						</div>
					</div></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_25">quilomboUrbano:</label></td>
				<td class="prop-value"><select id="BrutusinForms#0_25"
					class="chosen-select form-control selectpicker bs-select-hidden"
					title="" data-live-search="true"><option></option>
						<option value="true">True</option>
						<option value="false">False</option></select>
				<div class="btn-group bootstrap-select chosen-select form-control">
						<button type="button" class="btn dropdown-toggle btn-default"
							data-toggle="dropdown" data-id="BrutusinForms#0_25" title=""
							aria-expanded="false">
							<span class="filter-option pull-left"></span>&nbsp;<span
								class="caret"></span>
						</button>
						<div class="dropdown-menu open"
							style="max-height: 452.828px; overflow: hidden; min-height: 42px;">
							<div class="bs-searchbox">
								<input type="text" class="form-control" autocomplete="off">
							</div>
							<ul class="dropdown-menu inner" role="menu"
								style="max-height: 398.828px; overflow-y: auto; min-height: 0px;">
								<li data-original-index="0" class="selected active"><a
									tabindex="0" class="" style="" data-tokens="null"><span
										class="text"></span><span
										class="glyphicon glyphicon-ok check-mark"></span></a></li>
								<li data-original-index="1"><a tabindex="0" class=""
									style="" data-tokens="null"><span class="text">True</span><span
										class="glyphicon glyphicon-ok check-mark"></span></a></li>
								<li data-original-index="2"><a tabindex="0" class=""
									style="" data-tokens="null"><span class="text">False</span><span
										class="glyphicon glyphicon-ok check-mark"></span></a></li>
							</ul>
						</div>
					</div></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_26">peqTeq:</label></td>
				<td class="prop-value"><select id="BrutusinForms#0_26"
					class="chosen-select form-control selectpicker bs-select-hidden"
					title="" data-live-search="true"><option></option>
						<option value="true">True</option>
						<option value="false">False</option></select>
				<div class="btn-group bootstrap-select chosen-select form-control">
						<button type="button" class="btn dropdown-toggle btn-default"
							data-toggle="dropdown" data-id="BrutusinForms#0_26" title=""
							aria-expanded="false">
							<span class="filter-option pull-left"></span>&nbsp;<span
								class="caret"></span>
						</button>
						<div class="dropdown-menu open"
							style="max-height: 410.828px; overflow: hidden; min-height: 42px;">
							<div class="bs-searchbox">
								<input type="text" class="form-control" autocomplete="off">
							</div>
							<ul class="dropdown-menu inner" role="menu"
								style="max-height: 356.828px; overflow-y: auto; min-height: 0px;">
								<li data-original-index="0" class="selected active"><a
									tabindex="0" class="" style="" data-tokens="null"><span
										class="text"></span><span
										class="glyphicon glyphicon-ok check-mark"></span></a></li>
								<li data-original-index="1"><a tabindex="0" class=""
									style="" data-tokens="null"><span class="text">True</span><span
										class="glyphicon glyphicon-ok check-mark"></span></a></li>
								<li data-original-index="2"><a tabindex="0" class=""
									style="" data-tokens="null"><span class="text">False</span><span
										class="glyphicon glyphicon-ok check-mark"></span></a></li>
							</ul>
						</div>
					</div></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_27">qtdFamiliasPeqTeq:</label></td>
				<td class="prop-value"><input type="number" step="any"
					autocorrect="off" id="BrutusinForms#0_27" class=" form-control"></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_28">areahaPeqTeq:</label></td>
				<td class="prop-value"><input type="number" step="any"
					autocorrect="off" id="BrutusinForms#0_28" class=" form-control"></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_29">numeroPortariaPeqTeq:</label></td>
				<td class="prop-value"><input type="number" step="any"
					autocorrect="off" id="BrutusinForms#0_29" class=" form-control"></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_30">dataPortariaPeqTeq:</label></td>
				<td class="prop-value"><input type="number" step="any"
					autocorrect="off" id="BrutusinForms#0_30" class=" form-control"></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_31">dataDiarioOficialUniaoDiarioOficialEstadoPortariaPeqTeq:</label></td>
				<td class="prop-value"><input type="number" step="any"
					autocorrect="off" id="BrutusinForms#0_31" class=" form-control"></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_32">cadastroIncra:</label></td>
				<td class="prop-value"><input type="text" autocorrect="off"
					id="BrutusinForms#0_32" class=" form-control"></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_33">cadastroSigef:</label></td>
				<td class="prop-value"><input type="text" autocorrect="off"
					id="BrutusinForms#0_33" class=" form-control"></td>
			</tr>
			<tr>
				<td class="prop-name"><label for="BrutusinForms#0_34">cadastroCar:</label></td>
				<td class="prop-value"><input type="text" autocorrect="off"
					id="BrutusinForms#0_34" class=" form-control"></td>
			</tr>
		</tbody>
	</table>
</form>