<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="pt-br"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}">
<head>
<meta charset="UTF-8">

<style type="text/css">
	.b-table{
		background-color: #fff;
	}
</style>

<title>DashBoard</title>
</head>
<body>
<section layout:fragment="content">

	<div id="app" >
		<section> 
            <div class="container-fluid">
              <div class="row">
              
              	<div class="col-lg-12 col-md-12">
                  <div class="card">
                    
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Tipos de Documentos</h3>
                    </div>
                    <div class="card-body">
                    	<div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Tipo Documento</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr th:each="obj : ${data.content}">
                              	<td th:text="${obj.id}" />
            					<td th:text="${obj.nome}" />
                            </tr>
                          </tbody>
                        </table>
						<nav th:if="${!data.empty}" aria-label="Page navigation example">
						  <ul class="pagination justify-content-center">
						    <li class="page-item" th:classappend="${data.first} ? disabled" >
						    <a 
						    th:attr="tabindex=${data.first? '-1' : ''},aria-disabled=${data.first ? true : false}"
						    class="page-link" th:href="@{/tiposdocumentos/teste(size=${data.size}, page=${data.pageable.pageNumber - 1})}">Anterior</a></li>
						    
						    <li class="page-item" th:if="${data.totalPages > 0}" 
						    th:each="pageNumber : ${pageNumbers}"
						    th:classappend="${pageNumber==data.number + 1} ? active">
						    	<a class="page-link" th:href="@{/tiposdocumentos/teste(size=${data.size}, page=${pageNumber - 1})}"
						        th:text="${pageNumber}"></a>
						    </li>
						    
						    <li  class="page-item"  th:classappend="${data.last} ? disabled">
						    	<a th:attr="tabindex=${data.last? '-1' : ''},aria-disabled=${data.first ? true : false}" class="page-link" th:href="@{/tiposdocumentos/teste(size=${data.size}, page=${data.pageable.pageNumber + 1})}">Próximo</a></li>

						  </ul>
						</nav>
                      </div>
                    </div>
                  </div>
                </div>
              
              </div>
	    	</div>
	    </section>
	</div>
                

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script th:src="@{/js/dataservices/tipoDocumentoService.js}"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	
	<script>
		const example = {
		    data() {
		        return {
		            data:[],
		            defaultOpenedDetails: [0],
		            showDetailIcon: true,
		            paginationPosition: 'both',
		            showDetailIcon: true,
		            isPaginated: true,
		            perPage: 5
		        }
		    },
		    methods: {
		        toggle(row) {
		            this.$refs.table.toggleDetails(row)
		        }
		    },
		    mounted() {
             	documentoService.findAll(r => {
 					this.data = r.data.content
 					console.log(this.tableData)
				})
           	},
		}


        const app = new Vue(example)

        app.$mount('#app')
		            
  </script>
</section>
</body>
</html>